<!DOCTYPE html>
<head>
 <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

 <title>
 {% block titulo %}  {% endblock %}
 PROJETO INTEGRADOR
 </title>
</head>
<body>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Index</a></li>
                <li><a href="/index2">Index2</a></li>
            </ul>
        </div>
    </nav>




 {% block conteudo2 %} {% endblock %}
 {% block conteudo %} {% endblock %}
</body>
</html>