{% extends 'base.html' %}

{% block titulo %} Cadastro de Aluno - {% endblock %}

{% block conteudo %}

    <!-- ADD O CONTEUDO  -->

    <!-- usar rota: /cadAluno  -->

    <div class="container">
        <form class="form-signin" method="post" action="/login">
        <h1 class="form-signin-heading">Favor fazer login</h1>

        <label for="inputEmail" class="">Nome</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu Nome" required autofocus>

        <br>
        <label for="inputEmail" class="">Endereço</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

         <label for="inputEmail" class="">Endereço</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

            <label for="inputEmail" class="">Endereço</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

            <label for="inputEmail" class="">Endereço</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

            <label for="inputEmail" class="">Endereço</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

            <label for="inputEmail" class="">Endereço</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

            <label for="inputEmail" class="">Endereço</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

            <label for="inputEmail" class="">Endereço</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

            <label for="inputEmail" class="">Endereço</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

            <label for="inputEmail" class="">Endereço</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

            <label for="inputEmail" class="">Endereço</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

            <label for="inputEmail" class="">Endereço</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >


        <label for="inputPassword" class="">Senha</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Digite seu " required>
        <!-- <div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div> -->
        <br>
        <button class="btn btn-lg btn-success btn-block" type="submit">Cadastrar</button>
        </form>

    </div> <!-- /container -->


{% endblock %}