{% extends 'base.html' %}

{% block titulo %} Cadastro de Aluno - {% endblock %}

{% block conteudo %}

    <!-- ADD O CONTEUDO  -->

    <!-- usar rota: /cadAluno  -->
    <div class="container" >
        <div class="row">
            <div class="col-md-12" style="background: gray">
                <br>
                <div class="row">
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">
                        <div class="container">
                            <form method="post" action="/post_aluno">
                            <h1>Cadastro de Aluno</h1>

                            <label for="inputEmail" class="">Nome</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu Nome" required autofocus>

                            <label for="inputEmail" class="">Endereço</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

                            <label for="inputEmail" class="">Endereço</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

                                <label for="inputEmail" class="">Endereço</label>
                                <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

                                <label for="inputEmail" class="">Endereço</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

                                <label for="inputEmail" class="">Endereço</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

                                <label for="inputEmail" class="">Endereço</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

                                <label for="inputEmail" class="">Endereço</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

                                <label for="inputEmail" class="">Endereço</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

                                <label for="inputEmail" class="">Endereço</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

                                <label for="inputEmail" class="">Endereço</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

                                <label for="inputEmail" class="">Endereço</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >

                                <label for="inputEmail" class="">Endereço</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Digite seu endereço" required >


                            <label for="inputPassword" class="">Senha</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Digite seu " required>
                            <!-- <div class="checkbox">
                                <label>
                                <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div> -->
                            <br>
                            <button class="btn btn-lg btn-success btn-block" type="submit">Cadastrar</button>
                            <br>
                            </form>

                        </div> <!-- /container -->
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}