{% extends 'base_ifro.html' %}

{% block titulo %} Cadastro de Aluno - {% endblock %}

{% block conteudo %}

    <!-- ADD O CONTEUDO  -->

    <!-- usar rota: /cadAluno  -->


    <br><br>


    <div class="container" >
        <div class="row">
            <div class="col-md-12" style="background: gray">
                <br>
                <div class="row">
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">
                        <div class="container">

                            <form class="form-horizontal"  method="post" action="/post_vaga">
                                    <fieldset>
                                
                                    <!-- Form Name -->
                                    <legend>Cadastro de vagas</legend>
                                    
                                    <!-- Select Basic -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="uf">Empresa</label>
                                        <div class="col-md-12">
                                            <select id="empresa" name="empresa" class="form-control" required>
                                            {% for empresa in empresas: %}
                                                <option value= {{ empresa.id }} >{{ empresa.nome }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="descricao">Descrição da Vaga</label>  
                                        <div class="col-md-12">
                                            <textarea id="descricao" name="descricao" class="form-control" rows="8" placeholder="Coloque uma descrição" required></textarea>
                                        </div>
                                    </div>
                                    
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="remuneracao">Remuneração</label>  
                                        <div class="col-md-12">
                                            <textarea id="remuneracao" name="remuneracao" class="form-control" rows="3" placeholder="Informe a Remuneração" required></textarea>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-8 control-label" for="beneficios">Informações sobre benefícios</label>  
                                        <div class="col-md-12">
                                            <textarea id="beneficios" name="beneficios" class="form-control" rows="3" placeholder="Informe os benefícios" required></textarea>
                                        </div>
                                    </div>
                                
                                    </fieldset>

                                    <br>
                                    <button class="btn btn-lg btn-success btn-block" type="submit">Cadastrar</button>
                                    <br>
                            </form>



                        </div> <!-- /container -->
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}