{% extends 'base.html' %}

{% block titulo %} Banco de Talentos - IFRO {% endblock %}

{% block conteudo %}

    <!-- Navigation -->
    <!-- <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
          <i class="fa fa-times"></i>
        </a>
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#top">Start Bootstrap</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#top">Home</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#services">Services</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#contact" onclick=$( "#menu-close").click();>Contact</a>
        </li>
      </ul>
    </nav> -->

    <!-- Header -->
    <header class="header" id="top">
        <div class="text-vertical-center">
          <img class="img-fluid" src="../static/img/if_logo.png" width="100" height="100">
          <h1>Banco de Talentos</h1>
          <h3>Instituto Federal de Educação, Ciência e Tecnologia de Rondônia</h3>
          <br>
          <a href="/login" class="btn btn-success btn-lg js-scroll-trigger">Acessar o Sistema</a>

          <a href="/fale_conosco" class="btn btn-primary btn-lg js-scroll-trigger">Entre em contato</a>

          <a href="/saiba_mais" class="btn btn-warning btn-lg js-scroll-trigger">Saiba mais</a>
          
        </div>
      </header>
  
      
  

      

{% endblock %}


