{% extends 'base_ifro.html' %}

{% block titulo %} Index - {% endblock %}

{% block conteudo %}

<br>
<br>

<div class="container col-md-11" >
    <div class="row">
        <div class="col-md-12" style="background: cadetblue">     <!--  -->
            <h1 class="text-center">Lista de Empresas</h1>
            <table class="table table-hover">
                <tr>
                    <th>Razão Social</th>
                    <th>Fantasia</th>
                    <th>CNPJ</th>
                    <th>IE</th>
                    <th>Endereço</th>
                    <th>Num</th>
                    <th>Complem.</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>UF</th>
                    <th>Ações</th>
                </tr>

                {% for empresa in empresas: %}
                <tr>
                    <td>{{ empresa.nome.upper() }}</td>
                    <td>{{ empresa.fantasia.upper() }}</td>
                    <td>{{ empresa.cnpj }}</td>
                    <td>{{ empresa.ie }}</td>
                    <td>{{ empresa.endereco.upper() }}</td>
                    <td>{{ empresa.num }}</td>
                    <td>{{ empresa.complemento.upper() }}</td>
                    <td>{{ empresa.bairro.upper() }}</td>
                    <td>{{ empresa.cidade.upper() }}</td>
                    <td>{{ empresa.uf.upper() }}</td>

                    <td>
                        <a href="/viewEmpresa/{{empresa.id}}" class="btn btn-primary">
                                Visualizar
                        </a>

                        <a href="" class="btn btn-warning">
                                Editar
                        </a>
                        
                    
                    </td>

                </tr>    
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}