{% extends 'base_ifro.html' %}

{% block titulo %} Index - {% endblock %}

{% block conteudo %}

<br>
<br>

<div class="container col-md-10">
    <div class="row">
        <div class="col-md-12" style="background: cadetblue">     <!--  -->
            <h1>Lista de Vagas</h1>
            <table class="table table-hover">
                <tr>
                    <th>Data</th>
                    <th>Status</th>
                    <th>Empresa</th>
                    <th>Descricao</th>
                    <th>Remuneração</th>
                </tr>

                {% for vaga in vagas %}

                <tr>
                    <td>{{ vaga.data_inicio }}</td>
                    <td>{{ vaga.status.upper() }}</td>
                    <td>{{ vaga.nome.upper() }}</td>
                    <td>{{ vaga.descricao.upper() }}</td>
                    <td>{{ vaga.remuneracao.upper() }}</td>
                </tr>    
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}