{% extends 'base.html' %}

{% block titulo %} Index - {% endblock %}

{% block conteudo %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>LOGIN</h1>
                    <form method="post" action="/login">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Endereço de e-mail</label>
                            <input type="email" class="form-control" id="email"  name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Senha</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        
                        <button type="submit" class="btn btn-default">Enviar</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}


