{% extends 'base_ifro_view_edit.html' %}

{% block titulo %} Index - {% endblock %}

{% block conteudo %}

<br>
<br> 
<div class="container col-md-10" >
    <div class="modal-header" style="background: cadetblue"> 
    
        <div class="col-md-10">
            <h1 class="modal-title">Perfil da Empresa</h1>
            <br>
            <div class="row">
                
                <div class="col-md-2">
                    <h3>Razão Social: </h3>
                    <h3>Fantasia: </h3>
                    <h3>CNPJ: </h3>
                </div>

                <div class="col-md-10">
                    <h3 class="media-heading">{{ empresa.nome}}</h3>
                    <h3 class="media-heading">{{ empresa.fantasia}}</h3>
                    <h3 class="media-heading">{{ empresa.cnpj}}</h3>
                    
                </div>
            </div>
            <hr>
            
            <div class="row">
                <div class="col-md-2">
                    <h3>Endereço: </h3>
                    <h3>Número: </h3>
                    <h3>complemento: </h3>
                    <h3>Bairro: </h3>
                    <h3>Cidade: </h3>
                    <h3>Estado: </h3>
                </div>
                
                <div class="col-md-10">
                    <h3 class="media-heading">{{ empresa.endereco}}</h3>
                    <h3 class="media-heading">{{ empresa.num}}</h3>
                    <h3 class="media-heading">{{ empresa.complemento}}</h3>
                    <h3 class="media-heading">{{ empresa.bairro}}</h3>
                    <h3 class="media-heading">{{ empresa.cidade}}</h3>
                    <h3 class="media-heading">{{ empresa.uf}}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <img src="../../static/img/pessoasImg/{{empresa.imagem}}.jpg" name="aboutme" width="200" height="200" border="0" class="img-circle">
            <hr>
            <a href="/listarEmpresas" class="btn btn-warning">Voltar</a>
        </div>
    </div>
</div>


{% endblock %}