{% extends 'base_ifro_view_edit.html' %}

{% block titulo %} Index - {% endblock %}

{% block conteudo %}

<br>
<br> 
<div class="container col-md-11" >
    <div class="row">            
        <div class="modal-header col-md-12" style="background: cadetblue"> 
            <div class="col-md-12">
                <h1 class="modal-title text-center">Perfil do Aluno</h1>
            </div>
        </div>        
    </div>
    
    <br>

    <div class="row">

        <div class="modal-header col-md-10" style="background: cadetblue"> 
        
            <div class="col-md-12">
                
                <div class="row">
                    
                    <div class="col-md-2">
                        <h3><strong>Nome:</strong> </h3>
                        <h3><strong>Matrícula:</strong></h3>
                        <h3><strong>CPF:</strong></h3>
                    </div>

                    <div class="col-md-10">
                        <h3 class="media-heading">{{ aluno.nome.upper()}}</h3>
                        <h3 class="media-heading">{{ aluno.matricula}}</h3>
                        <h3 class="media-heading">{{ aluno.cpf[0:3]}}.{{aluno.cpf[3:6]}}.{{aluno.cpf[6:9]}}-{{aluno.cpf[9:11]}}</h3>
                    
                    </div>
                </div>
                <hr>
                
                <div class="row">
                    <div class="col-md-2">
                        <h3><strong>Endereço: </strong></h3>
                        <h3><strong>Número: </strong></h3>
                        <h3><strong>Complemento: </strong></h3>
                        <h3><strong>Bairro: </strong></h3>
                        <h3><strong>Cidade: </strong></h3>
                        <h3><strong>Estado: </strong></h3>
                    </div>
                    
                    <div class="col-md-10">
                        <h3 class="media-heading">{{ aluno.endereco.upper()}}</h3>
                        <h3 class="media-heading">{{ aluno.num.upper()}}</h3>
                        <h3 class="media-heading">{{ aluno.complemento.upper()}}</h3>
                        <h3 class="media-heading">{{ aluno.bairro.upper()}}</h3>
                        <h3 class="media-heading">{{ aluno.cidade.upper()}}</h3>
                        <h3 class="media-heading">{{ aluno.uf.upper()}}</h3>
                    </div>
                </div>
                <hr>
                
                <div class="row">
                    <div class="col-md-2">
                        <h3><strong>Telefone: </strong></h3>
                        <h3><strong>E-mail: </strong></h3>
                    </div>

                    <div class="col-md-10">
                        <h3 class="media-heading">{{ aluno.telefone }}</h3>
                        <h3 class="media-heading">{{ aluno.email.lower() }}</h3>
                    </div>
                </div>                

            </div>          
        </div>

        <div class="col-md-2">
            <div class="modal-header " style="background: cadetblue">
                <img src="../../static/img/pessoasImg/{{aluno.imagem}}.jpg" name="aboutme" width="200" height="200" border="0" class="img-circle">
            </div>
            
            <a href="/listarAlunos" class="btn btn-warning">Voltar</a>

            <a href="/editarAluno/{{aluno.id}}/" class="btn btn-primary">Editar</a>

            <a href="/inativarAluno/{{aluno.id}}/" class="btn btn-danger">Inativar</a>
            
        </div>
    </div>

</div>
        


{% endblock %}