{% extends 'base_ifro_view_edit.html' %}

{% block titulo %} Index - {% endblock %}

{% block conteudo %}

<br>
<br>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel">Perfil do Aluno</h4>
            </div>
        <div class="modal-body">
            <center>            
                <img src="../../static/img/pessoasImg/{{aluno.imagem}}.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                <h3 class="media-heading">{{ aluno.nome}}</h3>
                <h5 class="media-heading">CPF: {{ aluno.cpf}}</h5>
                <h5 class="media-heading">MATRIÍCULA:{{ aluno.matricula}}</h5>
                <hr>
                <span><strong>Endereço: {{ aluno.endereco}}</strong></span>
                <span><strong>{{ aluno.num}}, </strong></span>
                <span><strong>{{ aluno.complemento}}, </strong></span>
                <span><strong>{{ aluno.bairro}}, </strong></span>
                <span><strong>{{ aluno.cidade}}-</strong></span>
                <span><strong>{{ aluno.uf}}</strong></span>
                <hr>
                
            </center>
            <hr>
            <center>
            <p class="text-left"><strong>Bio: </strong><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
            <br>
            </center>
        </div>
        <div class="modal-footer">
            <center>
            <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe</button>
            <a href="/listarAlunos" class="btn btn-warning">Voltar</a>
            </center>
        </div>
    </div>
</div>

{% endblock %}